{% extends 'index.html' %}

{% block content %}
<section>
		<div class="container">
			<div class="row">
<!--------------------Для вывода товаров из определенной категориии-->
				<div class="col-sm-9 padding-right">
					<div class="features_items"><br>
						<h2 class="title text-center">{{ products_in_category.0.product_category }}</h2>

<!----------------------------- Через цикл подбираем товары ссответсвующей категории --------------------->
                        {% for product in products %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<a href="/product/{{ product.id }}"><img src="/{{ product.pr_photo }}" alt="" /></a>
										<h2>{{ product.pr_price }}</h2>
										<p>{{ product.pr_name }}</p>
										<a href="/product/{{ product.id }}" class="btn btn-default add-to-cart">Learn more</a>
									</div>
								</div>
							</div>
						</div>
                    {% endfor %}

                    </div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}



