<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<h1>Главная страница</h1>
<hr>
<a href="/accounts/login">Войти |</a>
<a href="/account/logout">Выйти</a>
<hr>
<form action="search" method="POST">
    {% csrf_token %}

    <input type="text" name="search_product">
    <button>Поиск</button>
</form>
Товары : <br>
{% for i in product %}
<a href="/product/{{ i.id }}">{{ i.pr_name }}</a><br>
{% endfor %}
<hr>
Категории: <br>
{% for i in category %}
<a href="/category/{{ i.id }}">{{ i.name }}</a><br>
{% endfor %}
<hr>
<a href="/about-us">О нас</a>
<a href="/contact-us">Наши контакты</a>
</body>
</html>