<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<h1>Главная страница</h1>
<hr>
{% csrf_token %}
{{ form }}
<input type="text" name="search_product">
<button>Поиск</button>
Товары : <br>
{% for i in product %}
<a href="/product/{{ i.id }}">{{ i.pr_name }}</a><br>
{% endfor %}
<hr>
Категории: <br>
{% for i in category %}
<a href="/category/{{ i.id }}">{{ i.name }}</a><br>
{% endfor %}
<hr>
<a href="/about-us">О нас</a>
<a href="/contact-us">Наши контакты</a>
</body>
</html>